.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

@font-face {
  font-family: 'Foundation Sans';
  src: url(./fonts/FoundationSans-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Apple Garamond';
  src: url(./fonts/applegaramond.ttf) format('truetype');
}

@font-face {
  font-family: 'Apple Garamond Italic';
  src: url(./fonts/applegaramond-italic.ttf) format('truetype');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landing-page-content {
  width: 85%;
}

.main-logo {
  margin-bottom: 1rem;
}

.yellow-background {
  background-color: #feeb22;
  padding: 0.25rem 0.5rem;
}

.two-column {
  display: grid;
  grid-template-columns: 6fr 5fr;
  width: 100%;
  column-gap: 3rem;
  row-gap: 2rem;
  margin-bottom: 2rem;
}

.two-column .left-column {
  text-align: left;
}


#launching-text {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Apple Garamond';
  font-size: 1.25rem;
  margin-bottom: .5rem;
}

#launching-text span:first-child {
  margin-right: 1rem;
}

form {
  width: 100%;
}

form .text-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

form .text-inputs input {
  font-family: 'Courier New', Courier, monospace;
}

input[type='text'] {
  margin-right: 1rem;
}

input[type='text'], input[type='email'] {
  width: auto;
  padding: 0.5rem 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1.1rem;
}

input::placeholder {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

.two-column .right-column .img-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.two-column .right-column .img-container img {
  width: 100%;
}

.left-column .logo {
  height: 5rem;
}

.left-column .logo img {
  height: 100%;
}

.left-column .sub-logo {
  width: 13rem;
}

.left-column .sub-logo img {
  width: 100%;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-column img {
  /* give me a recommended box shadow */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

#teachings-overtime {
  width: 100%;
  text-align: end;
  grid-column: span 2;
}

#teachings-overtime img {
  width: 100%;
}

/* .content-headings {
  font-family: 'Foundation Sans';
  font-size: 1.5rem;
} */

.content-headings > * {
  margin-bottom: 1rem;
  flex-shrink: 1;
}

.content-headings > *:not(:last-child) {
  margin-right: 1.5rem;
}
.content-headings {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  font-family: 'Foundation Sans';
  font-size: 1.25rem;
}

form .bottom-form-section {
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  height: 2rem;
  width: 2rem;
  margin-right: 2rem;
}

.accept-terms {
  display: flex;
  width: 51%;
  font-style: italic;
  align-items: center;
}

.bottom-form-section button {
  /* height: 2rem; */
  width: 49%;
  background-color: black;
  color: white;
  font-size: 1.1rem;
  padding: 1rem;
}

.bottom-form-section button:hover {
  cursor: pointer;
  background-color: #282c34;
}

.mobile {
  display: none;
}

/* When macfinder image gets too small */
/* ----------------------------------- */
@media (max-width: 1407px) {
  .two-column {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    overflow: hidden;
  }

  .right-column {
    order: 1;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }

  .two-column .right-column .img-container {
    width: 50%;
  }

  .two-column .right-column .img-container img {
    width: 100%;
  }

  .left-column {
    order: 2;
  }


  #teachings-overtime {
    order: 3;
  }


  .teachings-overtime-text {
    order: 4;
    animation: slide 30s linear infinite;
  }

  .teachings-overtime-text > pre {
    font-family: 'Apple Garamond Italic';
    display: inline-block;
    margin-right: 5rem;
  }

  @keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}


@media (min-height: 1440px) {
  .landing-page-content {
    width: 60%;
  }
}
/* Mobile viewport styles */
/* ---------------------- */
@media (max-width: 768px) {

  .App {
    padding: 1rem;
  }

  .mobile {
    display: block;
  }

  .main-logo .logo {
    height: 3rem;
  }

  .main-logo .sub-logo {
    width: 8rem;
  }

  /* .no-mobile {
    display: none;
  } */

  /* .two-column .right-column {
    justify-content: flex-start;
  } */

  .two-column .right-column .img-container {
    width: 80%;
  }

  .two-column .right-column .img-container img {
    width: 100%;
  }

  .two-column {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    row-gap: 0.75rem;
  }

  .landing-page-content {
    width: 100%;
  }

  form .bottom-form-section {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  form .bottom-form-section > .accept-terms {
    width: 100%;
  }

  form .bottom-form-section > * {
    margin-bottom: 1rem;
  }

  .right-column {
    order: 1;
    margin-bottom: 1rem;
  }

  .left-column {
    order: 2;
  }

  #teachings-overtime {
    order: 3;
    display: none;
    padding: 0rem;
  }

  /* .teachings-overtime-text {
    order: 4;
    animation: slide 30s linear infinite;
  }

  .teachings-overtime-text > pre {
    font-family: 'Apple Garamond Italic';
    display: inline-block;
    margin-right: 5rem;
  }

  @keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-140%);
    }
  } */

  .two-column {
    grid-template-columns: 1fr;
    column-gap: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }

  .two-column .left-column {
    width: 100%;
  }


  .launching-w-form {
    width: 100%;
  }

  form .text-inputs {
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
  }

  .text-inputs input {
    width: 100%;
  }

  input[type='text'] {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .text-inputs input[type='text'], input[type='email'] {
    width: auto;
  }


  .content-headings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between; */
    font-size: 0.625rem;
    width: 100%;
    margin-bottom: 1rem;
    /* flex-direction: column; */
  }

  .content-headings > *{
    margin-bottom: 0.5rem ;
    margin-right: 0.5rem !important;
  }

  /* .two-column .right-column .img-container {
    margin-top: 15rem;
  } */

  .App {
    padding-top: 2rem;
  }

  
}